---
import Social from "./Social.astro";
import Texto from "./Texto.astro";
import Title from "./Title.astro";
---

<section class="flex">
    <div class="flex-1 max-w-[1120px] m-auto p-10">
        <div class="text-center">
            <Title level="h2" titulo="Contact"/>
            <Texto text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."/>
        </div>
        <div class="text-center mt-10">
            <a class="text-white bg-black rounded-full px-12 py-4 text-20 font-title dark:border dark:border-slate-700/100 dark:hover:bg-white dark:hover:text-black transition-all duration-100 ease-in" href="mailto:daniel.pena@dakyom.dev">Contact me</a>
        </div>
        <div class="mt-10">
            <Social/>
        </div>
    </div>
</section>