---
import Social from "./Social.astro";
import Title from "./Title.astro";
---

<section class="element-to-observe flex">
    <div class="flex-1 max-w-[1120px] m-auto p-10">
        <div class="text-center">
            <Title level="h2" titulo="Contact"/>
        </div>
        <div class="text-center mt-10 fade">
            <a class="text-white bg-black rounded-full px-12 py-4 text-20 font-title border border-slate-700/100 dark:hover:bg-white dark:hover:text-black transition-all duration-100 ease-in" href="mailto:daniel.pena@dakyom.dev">Send e-mail</a>
        </div>
        <div class="mt-10">
            <Social dNone="grid" grAFlow="grid-flow-col"/>
        </div>
    </div>
</section>