---
export interface Props {
    posiAbsoluta?: string;
    wFoo?: string;
    bottom?: string;
}

const { posiAbsoluta, wFoo, bottom} = Astro.props;
---

<footer class=`${posiAbsoluta ? posiAbsoluta : 'position-inherit'} ${wFoo ? wFoo : 'width-inherit'} ${bottom ? bottom : 'bottom-inherit'} py-8`>
    <div class="text-center">
        <p class="dark:text-slate-500">©2023 Daniel Peña. All rights reserved.</p>
        <p class="text-slate-500">Made with <a href="https://astro.build/">Astro</a> ♥</p>
    </div>
</footer>