---
import Title from "./Title.astro";
---

<main class="flex flex-col lg:flex-row lg:justify-center lg:gap-[88px] items-center my-40 mx-0 justify-evenly">
    <figure class="w-[200px] lg:w-[280px] relative">
      <img class="rounded-full outline outline-2 outline-offset-8 outline-slate-700/40 dark:outline-slate-700/100" src="./avatar.jpg" alt="Imagen de Daniel Peña, Frontend developer">
    </figure>
    <div>
      <div class="text-center mt-5 lg:text-start">
        <span class="text-20 font-subtitle tracking-4-5 text-[#4c4c4b] dark:text-[#c9c9c9]">Frontend Developer</span>
        <Title level="h1" titulo="Daniel Peña"/>
        <p class="text-14 w-[80%] m-auto lg:m-0 text-[#4c4c4b] dark:text-[#c9c9c9] lg:mb-12">Finally, I figured it out, enjoy, live and work hard for what you want.</p>
      </div>
  
      <div class="mt-5 text-center lg:text-start">
          <a class="text-white bg-black rounded-full px-12 py-4 text-20 font-title border dark:border-slate-700/100 dark:hover:bg-white dark:hover:text-black transition-all duration-100 ease-in" href="./assets/cv-daniel-pena.pdf" download>Download cv</a>
      </div>
    </div>
</main>