---
import Title from "./Title.astro";
---

<main class="flex flex-col lg:flex-row lg:justify-center lg:gap-[88px] items-center my-40 mx-0 justify-evenly">
    <figure class="w-[200px] lg:w-[280px] relative">
      <img class="rounded-full outln dark.outln-w outline-offset-8" src="./avatar.jpg" alt="Imagen de Daniel Peña, Frontend developer">
      <div class="flex items-center justify-center border-4 border-gradient-to-r from-rose-100 to-teal-100 absolute right-0 bottom-[-10px] w-[60px] h-[60px] lg:w-[90px] lg:h-[90px] rounded-full bg-black">
        <img class="w-[100px] h-[30px] lg:h-[50px] invert" src="./DP-LOGO.svg" alt="Logo de Daniel Peña">
      </div>
    </figure>
    <div>
      <div class="text-center mt-5 lg:text-start">
        <span class="text-20 font-subtitle tracking-4-5 text-[#4c4c4b] dark:text-[#c9c9c9]">Frontend Developer</span>
        <Title level="h1" titulo="Daniel Peña"/>
        <p class="text-14 w-[80%] m-auto lg:m-0 text-[#4c4c4b] dark:text-[#c9c9c9] lg:mb-12">Finally, I figured it out, enjoy, live and work hard for what you want.</p>
      </div>
  
      <div class="mt-5 text-center lg:text-start">
          <a class="text-white bg-black rounded-full px-12 py-4 text-20 font-title dark:border dark:border-slate-700/100 dark:hover:bg-white dark:hover:text-black transition-all duration-100 ease-in" href="./assets/cv-daniel-pena.pdf" download>Download cv</a>
      </div>
    </div>
</main>

<style>
  .outln {
    outline: 2px solid black;
  }

 .dark .outln-w {
    outline: 2px solid white;
  }
</style>