---
import DarkMode from "./DarkMode.astro";
---
  <nav
    class="w-full top-0 left-0 fixed lg:overflow-hidden bg-white/5 ring-gray-900/5 backdrop-blur-lg bg-opacity-70 z-20 animate-fade-down animate-duration-[2000ms]"
  >
    <div class="max-w-[1120px] mx-auto px-6 md:px-12 xl:px-6 fade-down">
      <div
        class="relative flex flex-wrap items-center justify-between gap-6 py-2 md:gap-0 md:py-4"
      >
        <div class="relative z-20 flex w-full justify-between items-center md:px-0">
          <a href="/"
            ><img
              class="w-16 dark:invert"
              src="./DP-LOGO.svg"
              alt="Imagen corpotativa Daniel Peña"
            /></a
          >
            
    
            <div class="mt-0">
              <a
                href="#"
                class="flex items-center justify-center"
                >
                <div class="flex items-center justify-center gap-2">
                  <DarkMode />
                  <!-- <Banderas /> -->
                </div>
                  
              </a>
          
        </div>
      </div>
    </div>
  </nav>
  
  <style>
    #toggle_nav:checked ~ div #hamburger #line {
      @apply rotate-45 translate-y-1.5;
    }
  
    #toggle_nav:checked ~ div #hamburger #line2 {
      @apply -rotate-45 -translate-y-1;
    }
  </style>