---
import ListOfProjects from "./ListOfProjects.astro";
import Title from "./Title.astro";
---

<section class="flex">
    <div class="flex-1 max-w-[1120px] m-auto p-10">
        <div class="text-center">
            <Title level="h2" titulo="My Projects"/>
        </div>
        <section>
            <ListOfProjects />
        </section>
    </div>
</section>
