---
interface Props {
  level: string;
  titulo: string;
}

const {level, titulo} = Astro.props;
---

{level === 'h1' ? (
  <h1 class="text-60 lg:text-76 font-title font-medium dark:text-white">{titulo}</h1>
) : (
  <h2 class="font-title text-40 dark:text-[#c9c9c9]">{titulo}</h2>
)}

